{% extends 'base.html' %}

{% block title %} 
Portfolio
{% endblock %}

{% block content %}

<style>

    .card {

    margin-bottom: 20px;
    transition: box-shadow 0.3s, transform 0.3s; /* Add transitions for box-shadow and transform */
  }
  
  .card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Add a box-shadow effect on hover */
    transform: scale(1.05); /* Scale the card on hover */
  }

</style> 


<div class="container">


    {% for portfolio in portfolios %}
        <div class="card p-3 m-4">
            <div class="card-body">
                <h5 class="card-title">{{ portfolio.title }}</h5>
                <p class="card-text">{{ portfolio.work_type }}</p>
                <p class="card-text">Published on: {{ portfolio.published_on.year }}</p>
                <p class="card-text">Published by: {{ portfolio.published_by }}</p>
                {% if portfolio.external_link %}
                    <a href="{{ portfolio.external_link }}" class="btn btn-primary" target="_blank">View on External Site</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}

</div>


{% endblock %}