{% extends 'base.html' %}
{% load static %}

{% block title %}
Training
{% endblock %}

{% block extra_head %}
<link href="{% static 'planner/css/trainings_style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}


<div class="container">



    <div class="btn-group mx-4 mt-4 d-flex flex-row gap-2 justify-content-between">
        <button class="btn btn-primary" onclick="location.href='?select_all=true'">Select All</button>
        
        {% for s in sections_with_subsections %}
        
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="{{s.section.title}}Dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ s.section.title }}
                </button>
                <div class="dropdown-menu" aria-labelledby="{{s.section.title}}Dropdown">

                    {% for subsection in s.subsections %}
                         
                        <a class="dropdown-item" href="?{{s.section.title}}={{subsection.title}}">{{ subsection.title }}</a>
                    {% endfor %}
                    <!-- Add other academic options -->
                </div>
            </div>
        {% endfor %}
        
        
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="instituteDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Institute
            </button>
            <div class="dropdown-menu" aria-labelledby="instituteDropdown">
                {% for institute in institutes %}
                    <a class="dropdown-item" href="?institute={{institute}}">{{institute}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="yearDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Year
            </button>
            <div class="dropdown-menu" aria-labelledby="yearDropdown">
               {% for year in years %}
               <a class="dropdown-item" href="?year={{year}}">{{year}}</a>
               {% endfor %}
                
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="instituteDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Medium
            </button>
            <div class="dropdown-menu" aria-labelledby="instituteDropdown">
                {% for medium in mediums %}
                <a class="dropdown-item" href="?medium={{medium}}">{{ medium }}</a>
                {% endfor %}
                
                <!-- Add other institute options -->
            </div>
        </div>
     
    </div>

    

    <table class="table table-bordered table-hover m-4 text-center">
        <!-- Your table content -->
        <thead class="thead-dark ">
            <tr>
                <th>TITLE</th>
                <th>INSTITUTES/INSTRUCTORS</th>
                <th>LOCATION/PLATFORM</th>
                <th>MEDIUM</th>
                <th>DURATION</th>
                <th>YEAR</th>
            </tr>
        </thead>
        <tbody>
            {% for training in trainings %}
            <tr>
                <td>{{ training.title }}</td>
                <td>{{ training.institutes_instructor }}</td>
                <td>{{ training.location_platform }}</td>
                <td>{{ training.medium }}</td>
                <td>{{ training.duration }}</td>
                <td>{{ training.completion_year }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>




</div>


<!-- Ensure that Bootstrap's JavaScript library is included -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


{% endblock %}